{% extends 'layout.html.twig' %}

{% block title %}
  PAGE D'ACCUEIL |
  {{ parent() }}
{% endblock %}

{% block body %}
  {% include 'Frontend/Home/_banner.html.twig' %}
  <div class="container mt-">
  <a href="{{path('app.article.index')}}" class="btn btn-secondary text-light">Voir plus</a>
   <div class="blog-list ">
        {% include "Components/_articles.html.twig" %}
    </div>
  </div>
{% endblock %}
