{% extends 'layout.html.twig' %}

{% block title %}
  PAGE D'ACCUEIL |
  {{ parent() }}
{% endblock %}

{% block body %}
  {% include 'Frontend/Home/_banner.html.twig' %}
  <div class="container mt-">
    {% include 'Components/_articles.html.twig' %}
  </div>
{% endblock %}
