.banner {
    background-image: url("../../images/Tucker-and-Dale.gif");
    background-size: cover;
    height: 60vh;

    .header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .title {
        background-color: rgba(238, 135, 135, 0.528);
        border-radius: $border-radius;
        backdrop-filter: blur(2px);
        padding: 1em;
        }
    }
}