.user-content{

  .user-image{
            height: 300px;
            width: 300px;
            margin: auto;
            border-radius: 50%;
            overflow: hidden;

            img{
                width: 100%;
                object-fit: cover;
                margin: auto;
                height: 100%;
            }
         }
    .user-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
}