<form method="POST" action="{{ path('admin.user.delete', {'id': user.id})}}" onsubmit="return confirm('Voules-vous vraiment supprimer cet item ?);">

  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>